@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    overflow-x: hidden;
}



.container {
    .header {
        display: flex;
        flex-direction: column;
        padding: 0 96px;

        &-top {
            display: flex;
            justify-content: space-between;

            &-text {
                display: flex;
                align-items: center;
                gap: 48px;

                p {
                    color: rgba(109, 115, 122, 1);
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                }

                .phone-btn {
                    color: rgba(44, 177, 185, 1);
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 140%;
                }

                .whatsapp-btn {
                    display: flex;
                    align-items: center;
                    background: rgba(234, 249, 250, 1);
                    padding: 12px 24px;
                    gap: 8px;
                    border-radius: 12px;
                    color: rgba(44, 177, 185, 1);
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 140%;
                }
            }
        }

        &-bottom {
            padding: 12px 83px;

            ul {
                display: flex;
                justify-content: space-between;

                li {

                    a,
                    button {
                        background-color: transparent;
                        border: 0;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 150%;
                        color: black;
                    }
                }
            }
        }


    }

    .slider {
        padding: 0 96px;
        height: 475px;

        .content {
            width: 100% !important;
        }

        .swiper-slide {
            padding: 48px 44px;
            background-image: url('../../images/Frame\ 65.svg');
            background-size: cover;
            border-radius: 20px;
            background-position-x: right;

            .slide-text {
                max-width: 720px;

                &-content {
                    max-width: 590px;

                    h3 {
                        margin: 0 !important;
                    }

                    ul {
                        margin: 24px 0 20px;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        li {
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 24px;
                        }
                    }
                }

                .btns {
                    display: flex;
                    gap: 8px;

                    .call-btn {
                        align-items: center;
                        justify-content: center;
                        background: #ffa85e;
                    }

                    .whatsapp-btn {
                        background: #4fcdd5;

                        img {
                            width: 24px;
                        }
                    }

                    .order-btn {
                        color: #2cb1b9;
                        background: #eaf9fa;
                    }

                    a {
                        gap: 8px;
                        display: flex;
                        border-radius: 12px;
                        border: 0;
                        padding: 12px 24px;
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 28px;
                        text-align: center;
                        align-items: center;
                        color: white;
                    }
                }
            }
        }
    }

    .calc {
        &-content {
            display: flex;
            gap: 24px;

            .calc-block {
                background: #f1f2f8;
                padding: 20px;
                border-radius: 20px;
                width: 669px;

                .head {
                    display: flex;
                    justify-content: space-between;

                    .active-btn {
                        display: flex;
                        align-items: center;
                        background: rgba(255, 255, 255, 1);
                        border: 0;
                        border-radius: 8px;
                        gap: 8px;
                        padding: 4px 24px;

                        p {
                            font-size: 12px;
                            font-weight: 700;
                            line-height: 16px;
                            display: block;
                        }
                    }

                    button {
                        background-color: transparent;
                        border: 0;
                        padding: 4px 17px;

                        p {
                            display: none;
                        }
                    }
                }

                .head button.active-btn svg path {
                    fill: #1B1D1F;
                }

                .head button svg path {
                    fill: #A0A6AD;
                }

                #widthRange,
                #heightRange,
                #widthDoorRange,
                #heightDoorRange {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    width: 100%;
                    height: 18px;
                    border: none;
                    border-radius: 4px;
                    overflow: hidden;
                    background: transparent;
                }

                #widthRange::-webkit-slider-thumb,
                #heightRange::-webkit-slider-thumb,
                #widthDoorRange::-webkit-slider-thumb,
                #heightDoorRange::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    background-color: rgba(255, 186, 128, 1);
                    border: 0px solid rgba(255, 186, 128, 1);
                    border-radius: 50%;
                    height: 18px;
                    width: 18px;
                    margin-top: -7px;
                    box-shadow: calc(-100vmax - 18px) 0 0 100vmax rgba(255, 186, 128, 1);
                    clip-path: polygon(100% 0,
                            2px 0,
                            0 7px,
                            -100vmax 7px,
                            -100vmax 11px,
                            0 11px,
                            2px 100%,
                            100% 100%);
                }

                #widthRange::-moz-range-thumb,
                #heightRange::-moz-range-thumb,
                #widthDoorRange::-moz-range-thumb,
                #heightDoorRange::-moz-range-thumb {
                    -moz-appearance: none;
                    appearance: none;
                    background-color: rgba(255, 186, 128, 1);
                    border: 0px solid rgba(255, 186, 128, 1);
                    border-radius: 50%;
                    height: 18px;
                    width: 18px;
                    margin-top: -7px;
                }

                #widthRange::-webkit-slider-runnable-track,
                #heightRange::-webkit-slider-runnable-track,
                #widthDoorRange::-webkit-slider-runnable-track,
                #heightDoorRange::-webkit-slider-runnable-track {
                    height: 4px;
                    border-radius: 4px;
                    background: rgba(255, 255, 255, 1);
                }

                .form_radio_btn {
                    display: inline-block;
                }

                .form_radio_btn input[type=radio] {
                    display: none;
                }

                .form_radio_btn label {
                    display: inline-block;
                    cursor: pointer;
                    padding: 0px 15px;
                    line-height: 34px;
                    user-select: none;
                }

                .form_radio_btn input[type=radio]:checked+label {
                    background: rgba(255, 186, 128, 1) !important;
                }

                .form_radio_btn input[type=radio]:disabled+label {
                    background: #efefef;
                }

                #widthDoorRange::-webkit-slider-thumb {
                    -moz-appearance: none;
                    appearance: none;
                    border: 0px solid rgba(255, 186, 128, 1);
                    border-radius: 50%;
                    height: 18px;
                    width: 18px;
                    margin-top: -7px;
                    background-size: 60% 60%;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-image: url('../../images/calc/Vector.svg') !important;
                }

                .balcony {
                    display: none;
                }

                .selector {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    padding-top: 24px;

                    h5 {
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 24px;
                        text-align: center;
                    }

                    #installation,
                    #laminathia {
                        width: 100%;
                        border-radius: 12px;
                        overflow: hidden;
                        display: flex;

                        label {
                            width: 100%;
                            text-align: center;
                            background: white;
                            border: 1px solid rgba(231, 233, 235, 1);
                        }
                    }

                    #laminathia {
                        .form_radio_btn {
                            width: 33.333%;
                        }
                    }

                    #installation {
                        .form_radio_btn {
                            width: 50%;
                        }
                    }

                    &-content {
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        .select {
                            display: flex;
                            flex-direction: column;
                            width: 87%;

                            .text {
                                display: flex;
                                justify-content: space-between;

                                span {
                                    color: rgba(160, 166, 173, 1);
                                    font-size: 12px;
                                    font-weight: 400;
                                    line-height: 20px;
                                }
                            }
                        }

                        .value {
                            background-color: rgba(255, 255, 255, 1);
                            padding: 8px 16px;
                            width: 70px;
                            text-align: center;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 24px;
                            border-radius: 12px;
                        }
                    }
                }

                #options {
                    display: flex;
                    gap: 8px;

                    .custom-checkbox {
                        position: absolute;
                        z-index: -1;
                        opacity: 0;
                    }

                    .custom-checkbox+label {
                        display: inline-flex;
                        align-items: center;
                        user-select: none;
                        background-color: rgba(255, 255, 255, 1);
                        padding: 7px 8px;
                        border-radius: 12px;
                    }

                    .custom-checkbox+label::before {
                        content: '';
                        display: inline-block;
                        width: 1em;
                        height: 1em;
                        flex-shrink: 0;
                        flex-grow: 0;
                        border: 3px solid #adb5bd;
                        border-radius: 0.25em;
                        margin-right: 0.5em;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 50% 50%;
                    }

                    .custom-checkbox:checked+label::before {
                        border-color: rgba(255, 255, 255, 1);
                        background-color: rgba(255, 255, 255, 1);
                        background-image: url("../../images/calc/check.svg");
                        background-size: 80%;
                    }

                    .custom-checkbox:checked+label {
                        background-color: #ffba80;
                    }

                    .custom-checkbox:focus:not(:checked)+label::before {
                        border-color: #ffba80;
                    }
                }


            }

            .price-blocks {
                display: flex;
                flex-direction: column;

                a {
                    border-radius: 12px;
                    border: 0;
                    padding: 12px 24px;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 28px;
                    text-align: center;
                    color: white;
                    background: #4fcdd5;
                    margin-top: 24px;
                }

                &-bg {
                    max-width: 555px;
                    background: rgba(241, 242, 248, 1);
                    padding: 20px;
                    border-radius: 20px;
                }

                h4 {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 26px;
                    text-align: center;
                }

                p {
                    color: rgba(109, 115, 122, 1);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    text-align: center;
                    margin: 4px 0 24px;
                }

                &-string {
                    display: flex;
                    gap: 20px;

                    .block {
                        background-color: rgba(255, 255, 255, 1);
                        padding: 20px;
                        border-radius: 4px;
                        width: 50%;
                        margin: 0 0 20px 0;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;

                        .size {
                            position: absolute;
                            background-color: rgba(152, 226, 230, 1);
                            border-radius: 61px;
                            padding: 5px 10px;
                            right: 10px;
                            top: 10px;
                            font-size: 14px;
                            font-weight: 500;
                            color: black;
                        }

                        .orange {
                            background-color: rgba(255, 186, 128, 1) !important;
                        }

                        &-text {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            p {
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 24px;
                                text-align: left;
                                color: black;
                                margin: 0;
                            }

                            span {
                                font-size: 24px;
                                font-weight: 600;
                                line-height: 26px;
                            }
                        }
                    }
                }
            }
        }
    }

    .swiper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .swiper-wrapper {
        height: 375px;
        border-radius: 20px;
        overflow: hidden;
    }


    .swipper-pag,
    .swipper-pag2 {
        display: flex !important;
        position: relative !important;
        height: 46px !important;
        align-items: center;
        gap: 24px;
    }

    .swiper-button-next,
    .swiper-button-next2 {
        position: static;
        margin: 0 !important;
        border-radius: 12px;
        background: rgb(234, 249, 250);
        height: 46px;
        width: 96px;
    }

    .swiper-button-prev,
    .swiper-button-prev2 {
        position: static;
        margin: 0 !important;
        border-radius: 12px;
        background: rgb(234, 249, 250);
        width: 96px;
        height: 46px;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        color: rgb(79, 205, 213) !important;
        font-size: 16px !important;
    }

    .swiper-pagination,
    .swiper-pagination2 {
        position: static;
        width: auto !important;
        --swiper-theme-color: rgb(79, 205, 213);
    }

    .swiper-pagination-bullet {
        width: 12px !important;
        height: 12px !important;
    }



    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .sales {
        padding: 48px 96px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-head {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                font-size: 14px;
                font-weight: 600;
                line-height: 24px;
                color: black;
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }

        .banners {
            display: flex;
            gap: 20px;

            &-mini {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 50%;
            }

            .banner-big {
                width: 50%;

                img {
                    width: 100%;
                }
            }

            .banner-mini {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            &-bottom {
                display: flex;
                gap: 20px;
                padding-top: 20px;

                &-block {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    width: 50%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .catalog {
        padding: 48px 96px;
        display: flex;
        flex-direction: column;
        gap: 48px;
        background-color: rgba(241, 242, 248, 1);

        &-cards {
            display: flex;
            gap: 24px;
            justify-content: space-between;
        }

        &-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            background: white;
            gap: 16px;
            box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            color: black;

            .catalog-img {
                max-width: 165px;
                margin: auto;
            }


            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
            }

            &-text {
                display: flex;
                flex-direction: column;
                gap: 8px;
                text-align: center;

                h5 {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 28px;
                }

                .profile {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;

                    p {
                        font-size: 12px;
                    }

                    strong {
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 16px;
                    }
                }

                .card-price {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 26px;
                }
            }

            &-fills {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .fill {
                    &-top {
                        display: flex;
                        justify-content: space-between;

                        strong {
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 22px;
                        }
                    }
                }
            }

        }
    }

    .options {
        display: flex;
        flex-direction: column;

        h3 {
            padding: 48px 48px 0;
        }

        .group-option {
            width: 1248px;
            display: flex;
            justify-content: space-between;
        }

        &-card {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.1);
            color: black;

            h5 {
                font-size: 13px;
                font-weight: 600;
                line-height: 24px;
                text-transform: uppercase;
                text-align: center;
            }
        }

        .mySwiper2 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .swipper-pag2 {
            display: flex !important;
            position: relative !important;
            height: 46px !important;
            align-items: center;
            gap: 24px;
            margin-bottom: 48px;
        }

        .swiper-button-next {
            position: static;
            margin: 0 !important;
            border-radius: 12px;
            background: rgb(234, 249, 250);
            height: 46px;
            width: 96px;
        }

        .swiper-button-prev {
            position: static;
            margin: 0 !important;
            border-radius: 12px;
            background: rgb(234, 249, 250);
            width: 96px;
            height: 46px;
        }

        .swiper-button-next:after,
        .swiper-button-prev:after {
            color: rgb(79, 205, 213) !important;
            font-size: 16px !important;
        }

        .swiper-pagination {
            position: static;
            width: auto !important;
            --swiper-theme-color: rgb(79, 205, 213);
        }

        .swiper-pagination-bullet {
            width: 12px !important;
            height: 12px !important;
        }

        .swiper-slide {
            padding: 48px;
            width: 100% !important;
            gap: 20px;
        }
    }

    .help {
        background-color: #f1f2f8;

        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
            padding: 48px 0;
        }


        h3 {
            width: 400px;
        }

        &-card {
            width: 400px;
            height: 100%;
            display: flex;
            flex-direction: column;
            background: white;
            border-radius: 20px;
            padding: 20px;
            gap: 16px;
            box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.1);


            h5 {
                font-size: 24px;
                font-weight: 600;
                line-height: 26px;
                text-align: center;
            }

            a,
            button {
                border-radius: 12px;
                border: 0;
                padding: 12px 0px;
                font-size: 20px;
                font-weight: 600;
                line-height: 28px;
                text-align: center;
                color: white;
                background-color: #ffa85e;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;

            }

            .input-block {
                display: flex;
                flex-direction: column;
                gap: 4px;

                label {
                    color: rgba(109, 115, 122, 1);
                }

                input {
                    background: rgba(231, 233, 235, 0.5);
                    border-radius: 12px;
                    border: 0;
                    padding: 12px 24px;
                    outline: none;
                }
            }

        }

        .order button {
            background: rgba(160, 166, 173, 1);
        }

        .phone button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            background: rgba(255, 168, 94, 1);
        }
    }

    .advantages {
        padding: 48px 0;
        display: flex;
        flex-direction: column;
        gap: 48px;

        &-icons {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .icons-string {
                display: flex;
                justify-content: space-between;
            }

            .icon {
                width: 400px;
                display: flex;
                align-items: center;
                padding: 20px;
                gap: 16px;
                font-size: 24px;
                font-weight: 600;
                line-height: 26px;
            }
        }
    }

    .gallery {
        padding: 48px 0;
        display: flex;
        flex-direction: column;
        gap: 48px;
        overflow-x: hidden;

        img {
            width: 24%;
            height: auto !important;
            margin-bottom: 24px;
        }

        .mySwiper3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 48px;
        }

        .swipper-pag3 {
            display: flex !important;
            position: relative !important;
            height: 46px !important;
            align-items: center;
            gap: 24px;
        }

        .swiper-button-next {
            position: static;
            margin: 0 !important;
            border-radius: 12px;
            background: rgb(234, 249, 250);
            height: 46px;
            width: 96px;
        }

        .swiper-button-prev {
            position: static;
            margin: 0 !important;
            border-radius: 12px;
            background: rgb(234, 249, 250);
            width: 96px;
            height: 46px;
        }

        .swiper-button-next:after,
        .swiper-button-prev:after {
            color: rgb(79, 205, 213) !important;
            font-size: 16px !important;
        }

        .swiper-pagination {
            position: static;
            width: auto !important;
            --swiper-theme-color: rgb(79, 205, 213);
        }

        .swiper-pagination-bullet {
            width: 12px !important;
            height: 12px !important;
        }

        .swiper-slide {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .swiper-wrapper {
            border-radius: 0 !important;
            height: auto !important;
        }
    }

    .footer {
        padding: 48px 0;
        background-color: rgba(54, 58, 61, 1);

        .content {
            display: flex;
            justify-content: space-between;
            color: white;
            gap: 48px;
        }

        &-contact {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
            }

            .whatsapp-btn {
                display: flex;
                align-items: center;
                background: #eaf9fa;
                padding: 12px 24px;
                gap: 8px;
                border-radius: 12px;
                color: #2cb1b9;
                font-weight: 600;
                font-size: 20px;
                line-height: 140%;
                justify-content: center;
            }

            &-bottom {
                display: flex;
                flex-direction: column;
                gap: 28px;

                &-tel {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
            }
        }

        &-links {
            display: flex;
            flex-direction: column;
            gap: 24px;

            &-string {
                display: flex;


                .links-block {
                    display: flex;
                    flex-direction: column;
                    width: 322.67px;
                    gap: 24px;
                    padding: 12px 24px;

                    h6 {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 26px;

                    }

                    li {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    a {
                        color: rgba(184, 188, 194, 1);
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        text-align: left;
                    }
                }
            }

            .second-block {
                width: 212.67px;
            }
        }
    }

    .products {
        padding: 48px 0px;

        h3 {
            margin-bottom: 24px !important;
        }

        p {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
        }

        &-head {
            display: flex;
            justify-content: space-between;
            padding-bottom: 48px;

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-bottom: 20px;

                li {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                }
            }

            .btns {
                display: flex;
                gap: 8px;

                .call-btn {
                    align-items: center;
                    justify-content: center;
                    background: #ffa85e;
                }

                .whatsapp-btn {
                    background: #4fcdd5;
                }

                .order-btn {
                    color: #2cb1b9;
                    background: #eaf9fa;
                }

                a {
                    gap: 8px;
                    display: flex;
                    border-radius: 12px;
                    border: 0;
                    padding: 12px 24px;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 28px;
                    text-align: center;
                    color: white;
                }
            }
        }

        &-left,
        &-right {
            display: flex;
            align-items: center;
            gap: 48px;
            padding: 48px 0;

            &-text {
                max-width: 600px;
            }
        }

        &-right {
            justify-content: end;
        }
    }

    .offices {
        padding: 48px 0;

        h3 {
            margin-bottom: 100px;
        }

        &-block {
            display: flex;
            justify-content: space-between;
            gap: 44px;
            margin-bottom: 100px;

            .contents {
                width: 52%;

                &-top {
                    display: flex;
                    justify-content: space-between;

                    .top-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h5 {
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 108%;
                        }

                        p {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 150%;
                            color: #6d737a;
                        }
                    }
                }

                .call-btn {
                    align-items: center;
                    justify-content: center;
                    background: #ffa85e;
                    width: 50%;
                }

                .whatsapp-btn {
                    background: #4fcdd5;
                    width: 50%;
                }

                .order-btn {
                    color: #2cb1b9;
                    background: #eaf9fa;
                    justify-content: center;
                    margin: 16px 0;
                }

                a {
                    gap: 8px;
                    display: flex;
                    border-radius: 12px;
                    border: 0;
                    padding: 12px 24px;
                    font-size: 19px;
                    font-weight: 600;
                    line-height: 28px;
                    text-align: center;
                    color: white;
                }

                &-bottom {
                    display: flex;
                    gap: 20px;
                }
            }
        }
    }

    .works {
        padding: 48px 0;

        &-block {
            h3 {
                margin-bottom: 24px;
            }
        }

        img {
            width: 24%;
            height: max-content;
        }

        .mySwiper3,
        .mySwiper4,
        .mySwiper5 {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 48px;
        }

        .swipper-pag3 {
            display: flex !important;
            position: relative !important;
            height: 46px !important;
            align-items: center;
            gap: 24px;
        }

        .swiper-button-next {
            position: static;
            margin: 0 !important;
            border-radius: 12px;
            background: rgb(234, 249, 250);
            height: 46px;
            width: 96px;
        }

        .swiper-button-prev {
            position: static;
            margin: 0 !important;
            border-radius: 12px;
            background: rgb(234, 249, 250);
            width: 96px;
            height: 46px;
        }

        .swiper-button-next:after,
        .swiper-button-prev:after {
            color: rgb(79, 205, 213) !important;
            font-size: 16px !important;
        }

        .swiper-pagination {
            position: static;
            width: auto !important;
            --swiper-theme-color: rgb(79, 205, 213);
        }

        .swiper-slide {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .swiper-wrapper {
            height: 185px;
        }

        .swiper-pagination-bullet {
            width: 12px !important;
            height: 12px !important;
        }
    }

    .content {
        max-width: 1248px;
        width: 90%;
        margin: auto;
    }

    h3 {
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        margin-bottom: 48px;
    }

    .white-color {
        color: white !important;
    }

    .active-nav {
        color: rgba(255, 168, 94, 1) !important;
    }
}

.swiper-notification {
    display: none;
}

@media screen and (min-width: 1441px) {
    .content {
        width: 90%;
        margin: auto;
    }

    .gallery {
        .swiper-slide {
            img {
                width: 24.5%;
            }
        }
    }
}

.dropdown-content {
    display: none !important;
}

.dropdown-btn {
    position: relative;
}

.dropdown-btn.active {
    color: rgba(255, 168, 94, 1) !important;
}

.dropdown-content.active {
    display: block !important;
    position: absolute;
    background-color: white;
    top: 36px;
    width: max-content;
    left: -30px;
    z-index: 999;

    a {
        padding: 12px 24px;
    }

    a:hover {
        color: rgba(255, 168, 94, 1);
    }
}

#modal-block-hide {
    .head {
        display: flex;
        text-align: start;
        align-items: center;
        gap: 16px;

        h3 {
            line-height: 26px !important;
        }
    }

    p {
        text-align: start;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        color: rgba(109, 115, 122, 1);
    }

    #close-modal {
        background-color: #2cb1b9;
    }
}


.mob {
    display: none !important;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    margin: 15% auto;
    width: 90%;
    max-width: 400px;
    text-align: center;

    .help-card {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        background: white;
        border-radius: 20px;
        padding: 20px;
        gap: 16px;
        box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.1);

        label {
            text-align: start;
        }

        h5 {
            font-size: 24px;
            font-weight: 600;
            line-height: 26px;
            text-align: center;
        }

        a,
        button {
            border-radius: 12px;
            border: 0;
            padding: 12px 24px;
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            text-align: center;
            color: white;
        }

        .input-block {
            display: flex;
            flex-direction: column;
            gap: 4px;

            label {
                color: rgba(109, 115, 122, 1);
            }

            input {
                background: rgba(231, 233, 235, 0.5);
                border-radius: 12px;
                border: 0;
                padding: 12px 24px;
                outline: none;
            }
        }

    }
}

.close {
    color: #aaa;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 769px) {
    .desc {
        display: none !important;
    }

    .mob {
        display: flex !important;
    }

    .slider {
        .slick-dots li.slick-active button::before {
            color: rgb(79, 205, 213) !important;
        }

        .sliderss {
            width: 100%;
            margin: 0 auto;

        }

        h3 {
            line-height: 26px !important;
        }

        .sliderss img {
            margin: 20px 0;
            width: 100%;
        }

        .slick-prev,
        .slick-next {
            padding: 0 20px !important;
            border-radius: 12px !important;
            background: #eaf9fa !important;
            height: 46px !important;
            width: 96px !important;
            position: static !important;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .slick-next:before {
            content: '' !important;
            background-image: url('../../images/Vector.svg');
            width: 20px;
            height: 20px;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            color: #4fcdd5 !important;
        }

        .slick-prev:before {
            content: '' !important;
            background-image: url('../../images/Vector2.svg');
            width: 20px;
            height: 20px;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            color: #4fcdd5 !important;
        }

        .mini-btns {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 50px;
        }

        .slick-prev {
            left: 0;
        }

        .slick-next {
            right: 0;
        }

        .slick-dots {
            text-align: center;
            list-style: none;
            padding: 0;
            margin-top: 20px;
            bottom: -60px !important;
        }

        .slick-dots li {
            display: inline-block;
            margin: 0 5px;
        }

        .slick-dots li button {
            font-size: 0;
            background: transparent;
            border: none;
            cursor: pointer;
            outline: none;
        }

        .slick-dots li button::before {
            content: "•";
            font-size: 12px;
            color: #ccc;
        }
    }

    .burger-menu {
        flex-direction: column;
        height: 88vh;
        justify-content: space-between;

        .bottom {
            padding: 20px 20px 60px;

            p {
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
                text-align: left;
                color: rgba(44, 177, 185, 1);
            }
        }

        .btns-contact {
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;

            .call-btn {
                align-items: center;
                justify-content: center;
                background: #ffa85e;
            }

            .order-btn {
                color: #2cb1b9;
                background: #eaf9fa;
            }

            .whatsapp-btn {
                background: #4fcdd5 !important;
                color: white !important;

                img {
                    width: 24px;
                }
            }

            a {
                gap: 8px;
                display: flex;
                border-radius: 12px;
                border: 0;
                padding: 12px 24px;
                font-size: 20px;
                font-weight: 600;
                line-height: 28px;
                text-align: center;
                align-items: center;
                justify-content: center;
                color: white;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
        }

        button {
            width: 100%;
            display: flex;
            flex-direction: column;
            border: 0;
            background-color: transparent;
            color: black;
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            padding: 6px 20px;
        }

        .button-content {
            display: flex;
            gap: 20px;
            align-items: center;
        }

        a {
            color: black;
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            padding: 6px 20px;

        }

        .dropdown-btn-mob.active {
            background: rgba(255, 241, 229, 1);
            border-top: 1px solid rgba(255, 168, 94, 1);
            border-bottom: 1px solid rgba(255, 168, 94, 1);

            .button-content {
                color: rgba(255, 168, 94, 1);
            }

        }

        .dropdown-content.active {
            display: block !important;
            position: static !important;
            background: rgba(255, 241, 229, 1);
            width: 100% !important;
            margin-top: 10px;
            text-align: start !important;
            z-index: 999;

            li {
                margin-bottom: 10px;
            }

            a {
                padding: 0;
                font-weight: 500;
            }

            a:hover {
                color: rgba(255, 168, 94, 1);
            }
        }
    }


    .header {
        flex-direction: row !important;
        justify-content: space-between;
        padding: 0 !important;

        button {
            border: 0;
            background-color: transparent;
            padding: 0 20px;
        }

        a {
            width: 80%;

            img {
                width: 100% !important;
            }
        }
    }

    .works {
        .swiper2 {
            flex-direction: column !important;
        }

        h3 {
            margin-bottom: 20px !important;
        }

        .swiper-slide {
            height: auto !important;

            img {
                width: 100% !important;
            }
        }

        .sliders {
            margin-bottom: 100px;
        }

        .slick-list {
            height: min-content !important;
        }

        .slick-arrow {
            display: none !important;
        }

        .slick-slide {
            margin-right: 20px;
        }

        .slick-slide img {
            width: 100% !important;
        }

        .swiper-wrapper {
            height: fit-content !important;
        }
    }

    h3 {
        font-size: 24px !important;
        font-weight: 700 !important;
        line-height: 44px !important;
        margin-bottom: 0 !important;
    }

    .help {
        .content {
            flex-direction: column;
        }

        .phone {
            button {
                background-color: rgba(255, 168, 94, 1);
            }
        }

        h3,
        .order,
        .phone {
            width: 100% !important;
        }
    }

    .offices {
        .contents-top {
            img {
                display: none;
            }
        }

        .map {
            display: none;
        }

        &-block {
            .contents {
                width: 100% !important;
                display: flex;
                flex-direction: column;

                p {
                    padding: 20px 0;
                }

                &-bottom {
                    flex-direction: column;

                    a {
                        width: 100% !important;
                        justify-content: center;
                    }
                }

                .order-btn {
                    order: +1;
                }
            }
        }
    }

    .products {

        &-left {
            flex-direction: column;

            h3 {
                margin: 0 !important;
            }

            gap: 20px !important;
            align-items: start !important;

            img {
                width: 100%;
            }
        }

        &-right {
            flex-direction: column-reverse;

            h3 {
                margin: 0 !important;
            }

            gap: 20px !important;
            align-items: start !important;

            img {
                width: 100%;
            }
        }

        &-head {
            flex-direction: column;

            .mob {
                width: 100% !important;
                margin-bottom: 20px;
            }

            .btns {
                flex-direction: column;

                a {
                    justify-content: center;
                }
            }
        }


    }

    .slider {
        height: min-content !important;
        padding: 0 20px 100px !important;

        .btns {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-top: 20px;

            .call-btn {
                align-items: center;
                justify-content: center;
                background: #ffa85e;
            }

            .whatsapp-btn {
                background: #4fcdd5;

                img {
                    width: 24px;
                }
            }

            .order-btn {
                color: #2cb1b9;
                background: #eaf9fa;
            }

            a {
                gap: 8px;
                display: flex;
                border-radius: 12px;
                border: 0;
                padding: 12px 24px;
                font-size: 20px;
                font-weight: 600;
                line-height: 28px;
                text-align: center;
                align-items: center;
                color: white;
                justify-content: center;
            }
        }

        .swiper-wrapper {
            height: min-content !important;
        }

        .swiper-slide {
            background-image: none !important;
            padding: 0px !important;


            h3 {
                font-size: 24px;
                font-weight: 600;
                line-height: 26px;
                text-align: left;
            }
        }
    }

    input {
        font-size: 20px !important;
    }

    .calc {
        padding: 0 !important;

        .content {
            width: 100% !important;
            background: #f1f2f8;
            padding: 20px 0;

            h3 {
                padding-left: 20px !important;
            }
        }

        &-content {
            flex-direction: column;
            gap: 0 !important;

            .calc-block {
                width: 100% !important;
                border-radius: 0;

                .head {
                    border: 2px solid rgba(255, 186, 128, 1);
                    border-radius: 12px;
                    overflow: hidden;

                    .active-btn {
                        background: rgba(255, 186, 128, 1) !important;
                        border: 0;
                        gap: 8px;
                        padding: 4px 7px !important;
                        border-radius: 0 !important;
                    }

                    button {
                        width: 20% !important;
                        display: flex;
                        justify-content: center;
                        padding: 4px 7px !important;
                        border-left: 1px solid rgba(255, 186, 128, 1) !important;
                        border-right: 1px solid rgba(255, 186, 128, 1) !important;

                        p {
                            display: none !important;
                        }
                    }
                }

                #widthDoorInput:disabled {
                    background-color: #fafbff; /* Задайте цвет фона, который вы хотите использовать */
                }

                .selector {
                    h5 {
                        font-size: 16px !important;
                    }

                    .input-value {
                        input {
                            font-size: 20px;
                            font-weight: 500;
                            line-height: 28px;
                            text-align: center;
                            border-radius: 12px;
                            padding: 12px;
                            border: 0;
                            outline: 0;
                            width: 100%;
                        }
                    }

                    .form_radio_btn label {
                        padding: 12px 0px !important;
                        border: 0 !important;
                        border-left: 1px solid rgba(255, 186, 128, 1) !important;
                        border-right: 1px solid rgba(255, 186, 128, 1) !important;

                    }

                    form {
                        border: 2px solid rgba(255, 186, 128, 1);
                        border-radius: 12px;
                        overflow: hidden;
                    }

                    #options {
                        flex-direction: column;
                        border: 0;
                        gap: 4px !important;

                        label {
                            background-color: transparent !important;
                            width: 50%;
                            margin: auto;
                        }

                        .custom-checkbox+label {
                            padding: 13px 8px !important;
                        }
                    }
                }

                .custom-checkbox:checked+label::before {
                    // border-color: rgba(160, 166, 173, 1) !important;
                    border: 2px solid rgba(160, 166, 173, 1) !important;
                    background-color: #fff !important;
                }

                .custom-checkbox:checked+label::before {
                    border-color: #ffba80 !important;
                    background-color: #ffba80 !important;
                    background-image: url("../../images/calc/Vector 1.svg") !important;
                }
            }

            .price-blocks-string {
                gap: 10px !important;
            }

            .size {
                display: none !important;
            }

            .block {
                img {
                    width: 80%;
                }
            }

            .block-text {
                flex-direction: column;
                gap: 10px;
            }
        }

        #take-size {
            width: 90%;
            margin: auto;
        }
    }

    section {
        padding: 0px !important;
    }

    .sales {
        padding: 100px 0 !important;

        h3 {
            margin-bottom: 20px !important;
        }

        &-head {
            a {
                display: none !important;
            }
        }

        &-mob {
            padding-top: 0px !important;
        }

        .banners {
            flex-direction: column;
            gap: 10px !important;

            div {
                gap: 10px !important;
                width: 100% !important;
            }

            &-bottom {
                flex-direction: column;
                padding-top: 10px !important;
                gap: 10px !important;

                &-block {
                    width: 100% !important;
                    gap: 10px !important;
                }
            }
        }
    }

    .catalog {
        background: transparent !important;

        h3 {
            padding: 20px 0 !important;
        }

        &-cards {
            flex-direction: column;

            .catalog-card {
                box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1) !important;
            }
        }
    }

    .options {
        display: none !important;
    }

    .help-mar {
        margin: 100px 0;
    }

    .advantages {
        &-icons {
            gap: 0px !important;
        }

        .icons-string {
            flex-direction: column;

            .icon {
                padding: 10px 0 !important;
                width: 100% !important;

                img {
                    width: 60px !important;
                }
            }
        }
    }

    .gallery {
        padding: 100px 0 !important;

        .content {
            width: 100% !important;
        }

        h3 {
            width: 90%;
            margin: auto !important;
            margin-bottom: 20px !important;
        }

        .slick-list {
            height: min-content !important;
        }

        .slick-slide {
            margin-right: 20px;
        }

        .slick-slide img {
            width: 100% !important;
        }
    }

    .footer {
        .content {
            flex-direction: column;
        }

        .btns-contact {
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;

            .call-btn {
                align-items: center;
                justify-content: center;
                background: #ffa85e;
            }

            .order-btn {
                color: #2cb1b9;
                background: #eaf9fa;
            }

            .whatsapp-btn {
                background: #4fcdd5 !important;
                color: white !important;

                img {
                    width: 24px;
                }
            }

            a {
                gap: 8px;
                display: flex;
                border-radius: 12px;
                border: 0;
                padding: 12px 24px;
                font-size: 20px;
                font-weight: 600;
                line-height: 28px;
                text-align: center;
                align-items: center;
                justify-content: center;
                color: white;
            }
        }

        &-links {
            &-string {
                flex-direction: column;

                ul {
                    width: 100% !important;
                    padding: 12px 0 !important;
                }
            }
        }
    }
}