@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: 'border-box';
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    overflow-x: hidden;
}



.container {
    // section {

    // }
    .header {
        display: flex;
        flex-direction: column;
        padding: 0 96px;

        &-top {
            display: flex;
            justify-content: space-between;

            &-text {
                display: flex;
                align-items: center;
                gap: 48px;

                p {
                    color: rgba(109, 115, 122, 1);
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                }

                .phone-btn {
                    color: rgba(44, 177, 185, 1);
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 140%;
                }

                .whatsapp-btn {
                    display: flex;
                    align-items: center;
                    background: rgba(234, 249, 250, 1);
                    padding: 12px 24px;
                    gap: 8px;
                    border-radius: 12px;
                    color: rgba(44, 177, 185, 1);
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 140%;
                }
            }
        }

        &-bottom {
            padding: 12px 83px;

            ul {
                display: flex;
                justify-content: space-between;

                li {

                    a,
                    button {
                        background-color: transparent;
                        border: 0;
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 150%;
                        color: black;
                    }
                }
            }
        }

        .slider {
            padding: 0 96px;
            height: 475px;
        }

        .swiper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        .swiper-wrapper {
            height: 375px;
            border-radius: 20px;
            overflow: hidden;
        }


        .swipper-pag,
        .swipper-pag2 {
            display: flex !important;
            position: relative !important;
            height: 46px !important;
            align-items: center;
            gap: 24px;
        }

        .swiper-button-next,
        .swiper-button-next2 {
            position: static;
            margin: 0 !important;
            border-radius: 12px;
            background: rgb(234, 249, 250);
            height: 46px;
            width: 96px;
        }

        .swiper-button-prev,
        .swiper-button-prev2 {
            position: static;
            margin: 0 !important;
            border-radius: 12px;
            background: rgb(234, 249, 250);
            width: 96px;
            height: 46px;
        }

        .swiper-button-next:after,
        .swiper-button-prev:after {
            color: rgb(79, 205, 213) !important;
            font-size: 16px !important;
        }

        .swiper-pagination,
        .swiper-pagination2 {
            position: static;
            width: auto !important;
            --swiper-theme-color: rgb(79, 205, 213);
        }

        .swiper-pagination-bullet {
            width: 12px !important;
            height: 12px !important;
        }

        .swiper-slide {
            background-image: url('../../images/Frame\ 65.svg');
            background-size: cover;
            border-radius: 20px;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .sales {
        padding: 48px 96px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-head {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                font-size: 14px;
                font-weight: 600;
                line-height: 24px;
                color: black;
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }

        .banners {
            display: flex;
            gap: 20px;

            &-mini {
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 50%;
            }

            .banner-big {
                width: 50%;

                img {
                    width: 100%;
                }
            }

            .banner-mini {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            &-bottom {
                display: flex;
                gap: 20px;

                &-block {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    width: 50%;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    .catalog {
        padding: 48px 96px;
        display: flex;
        flex-direction: column;
        gap: 48px;
        background-color: rgba(241, 242, 248, 1);

        &-cards {
            display: flex;
            gap: 24px;
            justify-content: space-between;
        }

        &-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            background: white;
            gap: 16px;
            box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            color: black;

            .catalog-img {
                max-width: 165px;
                margin: auto;
            }


            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
            }

            &-text {
                display: flex;
                flex-direction: column;
                gap: 8px;
                text-align: center;

                h5 {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 28px;
                }

                .profile {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 4px;

                    p {
                        font-size: 12px;
                    }

                    strong {
                        font-size: 12px;
                        font-weight: 700;
                        line-height: 16px;
                    }
                }

                .card-price {
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 26px;
                }
            }

            &-fills {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .fill {
                    &-top {
                        display: flex;
                        justify-content: space-between;

                        strong {
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 22px;
                        }
                    }
                }
            }

        }
    }

    .options {
        display: flex;
        flex-direction: column;

        h3 {
            padding: 48px 96px 0;
        }

        .group-option {
            width: 1248px;
            display: flex;
            justify-content: space-between;
        }

        &-card {
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.1);
            color: black;

            h5 {
                font-size: 14px;
                font-weight: 600;
                line-height: 24px;
                text-transform: uppercase;
            }
        }

        .mySwiper2 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .swipper-pag2 {
            display: flex !important;
            position: relative !important;
            height: 46px !important;
            align-items: center;
            gap: 24px;
            margin-bottom: 48px;
        }

        .swiper-button-next {
            position: static;
            margin: 0 !important;
            border-radius: 12px;
            background: rgb(234, 249, 250);
            height: 46px;
            width: 96px;
        }

        .swiper-button-prev {
            position: static;
            margin: 0 !important;
            border-radius: 12px;
            background: rgb(234, 249, 250);
            width: 96px;
            height: 46px;
        }

        .swiper-button-next:after,
        .swiper-button-prev:after {
            color: rgb(79, 205, 213) !important;
            font-size: 16px !important;
        }

        .swiper-pagination {
            position: static;
            width: auto !important;
            --swiper-theme-color: rgb(79, 205, 213);
        }

        .swiper-pagination-bullet {
            width: 12px !important;
            height: 12px !important;
        }

        .swiper-slide {
            padding: 48px 96px;
            width: 87% !important;
        }
    }

    .help {
        background-color: #f1f2f8;

        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 24px;
            padding: 48px 96px;
        }


        h3 {
            width: 400px;
        }

        &-card {
            width: 400px;
            height: 100%;
            display: flex;
            flex-direction: column;
            background: white;
            border-radius: 20px;
            padding: 20px;
            gap: 16px;
            box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.1);


            h5 {
                font-size: 24px;
                font-weight: 600;
                line-height: 26px;
                text-align: center;
            }

            button {
                border-radius: 12px;
                border: 0;
                padding: 12px 24px;
                font-size: 20px;
                font-weight: 600;
                line-height: 28px;
                text-align: center;
                color: white;
            }

            .input-block {
                display: flex;
                flex-direction: column;
                gap: 4px;

                label {
                    color: rgba(109, 115, 122, 1);
                }

                input {
                    background: rgba(231, 233, 235, 0.5);
                    border-radius: 12px;
                    border: 0;
                    padding: 12px 24px;
                    outline: none;
                }
            }

        }

        .order button {
            background: rgba(79, 205, 213, 1);
        }

        .phone button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            background: rgba(255, 168, 94, 1);
        }
    }

    .advantages {
        padding: 48px 96px;
        display: flex;
        flex-direction: column;
        gap: 48px;

        &-icons {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .icons-string {
                display: flex;
                justify-content: space-between;
            }

            .icon {
                width: 400px;
                display: flex;
                align-items: center;
                padding: 20px;
                gap: 16px;
                font-size: 24px;
                font-weight: 600;
                line-height: 26px;
            }
        }
    }

    .gallery {
        padding: 48px 96px;
        display: flex;
        flex-direction: column;
        gap: 48px;
        overflow-x: hidden;

        img {
            width: 24%;
        }

        .mySwiper3 {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 48px;
        }

        .swipper-pag3 {
            display: flex !important;
            position: relative !important;
            height: 46px !important;
            align-items: center;
            gap: 24px;
        }

        .swiper-button-next {
            position: static;
            margin: 0 !important;
            border-radius: 12px;
            background: rgb(234, 249, 250);
            height: 46px;
            width: 96px;
        }

        .swiper-button-prev {
            position: static;
            margin: 0 !important;
            border-radius: 12px;
            background: rgb(234, 249, 250);
            width: 96px;
            height: 46px;
        }

        .swiper-button-next:after,
        .swiper-button-prev:after {
            color: rgb(79, 205, 213) !important;
            font-size: 16px !important;
        }

        .swiper-pagination {
            position: static;
            width: auto !important;
            --swiper-theme-color: rgb(79, 205, 213);
        }

        .swiper-pagination-bullet {
            width: 12px !important;
            height: 12px !important;
        }
    }

    .footer {
        padding: 48px 96px;
        background-color: rgba(54, 58, 61, 1);

        .content {
            display: flex;
            justify-content: space-between;
            color: white;
            gap: 48px;
        }

        &-contact {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            p {
                font-size: 20px;
                font-weight: 500;
                line-height: 28px;
            }

            .whatsapp-btn {
                display: flex;
                align-items: center;
                background: #eaf9fa;
                padding: 12px 24px;
                gap: 8px;
                border-radius: 12px;
                color: #2cb1b9;
                font-weight: 600;
                font-size: 20px;
                line-height: 140%;
                justify-content: center;
            }

            &-bottom {
                display: flex;
                flex-direction: column;
                gap: 28px;
            }
        }

        &-links {
            display: flex;
            flex-direction: column;
            gap: 24px;

            &-string {
                display: flex;


                .links-block {
                    display: flex;
                    flex-direction: column;
                    width: 322.67px;
                    gap: 24px;
                    padding: 12px 24px;

                    h6 {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 26px;

                    }

                    li {
                        white-space: nowrap;
                        /* Запрет переноса текста на новую строку */
                        overflow: hidden;
                        /* Скрытие текста, который не помещается */
                        text-overflow: ellipsis;
                    }

                    a {
                        color: rgba(184, 188, 194, 1);
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        text-align: left;
                    }
                }
            }

            .second-block {
                width: 212.67px;
            }
        }
    }

    .products {
        padding: 48px 96px;

        h3 {
            margin-bottom: 24px !important;
        }

        p {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
        }

        &-head {
            display: flex;
            justify-content: space-between;
            padding-bottom: 48px;

            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-bottom: 20px;

                li {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                }
            }

            .btns {
                display: flex;
                gap: 8px;

                .call-btn {
                    align-items: center;
                    justify-content: center;
                    background: #ffa85e;
                }

                .whatsapp-btn {
                    background: #4fcdd5;
                }

                .order-btn {
                    color: #2cb1b9;
                    background: #eaf9fa;
                }

                a {
                    gap: 8px;
                    display: flex;
                    border-radius: 12px;
                    border: 0;
                    padding: 12px 24px;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 28px;
                    text-align: center;
                    color: white;
                }
            }
        }

        &-left,
        &-right {
            display: flex;
            align-items: center;
            gap: 48px;
            padding: 48px 0;

            &-text {
                max-width: 600px;
            }
        }

        &-right {
            justify-content: end;
        }
    }

    .offices {
        padding: 48px 96px;
        h3 {
            margin-bottom: 100px;
        }
        &-block {
            display: flex;
            justify-content: space-between;
            gap: 44px;
            margin-bottom: 100px;

            .contents {
                width: 52%;
                &-top {
                    display: flex;
                    justify-content: space-between;

                    .top-text {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        h5 {
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 108%;
                        }
    
                        p {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 150%;
                            color: #6d737a;
                        }
                    }
                }

                .call-btn {
                    align-items: center;
                    justify-content: center;
                    background: #ffa85e;
                    width: 50%;
                }
    
                .whatsapp-btn {
                    background: #4fcdd5;
                    width: 50%;
                }
    
                .order-btn {
                    color: #2cb1b9;
                    background: #eaf9fa;
                    justify-content: center;
                    margin: 16px 0;
                }
    
                a {
                    gap: 8px;
                    display: flex;
                    border-radius: 12px;
                    border: 0;
                    padding: 12px 24px;
                    font-size: 19px;
                    font-weight: 600;
                    line-height: 28px;
                    text-align: center;
                    color: white;
                }

                &-bottom {
                    display: flex;
                    gap: 20px;
                }
            }
        }
    }

    .works {
        padding: 48px 96px;

        &-block {
            h3 {
                margin-bottom: 24px;
            }
        }

        img {
            width: 24%;
        }

        .mySwiper3, .mySwiper4, .mySwiper5 {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 48px;
        }

        .swipper-pag3 {
            display: flex !important;
            position: relative !important;
            height: 46px !important;
            align-items: center;
            gap: 24px;
        }

        .swiper-button-next {
            position: static;
            margin: 0 !important;
            border-radius: 12px;
            background: rgb(234, 249, 250);
            height: 46px;
            width: 96px;
        }

        .swiper-button-prev {
            position: static;
            margin: 0 !important;
            border-radius: 12px;
            background: rgb(234, 249, 250);
            width: 96px;
            height: 46px;
        }

        .swiper-button-next:after,
        .swiper-button-prev:after {
            color: rgb(79, 205, 213) !important;
            font-size: 16px !important;
        }

        .swiper-pagination {
            position: static;
            width: auto !important;
            --swiper-theme-color: rgb(79, 205, 213);
        }

        .swiper-pagination-bullet {
            width: 12px !important;
            height: 12px !important;
        }
    }

    .content {
        max-width: 1248px;
        margin: auto;
    }

    h3 {
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        margin-bottom: 48px;
    }

    .active-nav {
        color: rgba(255, 168, 94, 1) !important;
    }
}

.swiper-notification {
    display: none;
}

@media screen and (min-width: 1441px) {
    .content {
        width: 90%;
        margin: auto;
    }

    .gallery {
        .swiper-slide {
            img {
                width: 24.5%;
            }
        }
    }
}

.dropdown-content {
    display: none !important;
}

.dropdown-btn {
    position: relative;
}

.dropdown-btn.active {
    color: rgba(255, 168, 94, 1) !important;
}

.dropdown-content.active {
    display: block !important;
    position: absolute;
    background-color: white;
    top: 40px;
    width: max-content;
    left: -30px;

    a {
        padding: 12px 24px;
    }

    a:hover {
        color: rgba(255, 168, 94, 1);
    }
}